* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c9aa99;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form-group label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-control {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
  background: #f5f5f5;
  color: #333;
}

.login-form-1,
.login-form-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  color: #dde6ed;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 {
  background: #121212;
}

.login-form-1 h3 {
  text-align: center;

  font-size: 2rem;
}

.login-form-2 {
  background: #2c2c2c;
}

.login-form-2 h3 {
  text-align: center;

  font-size: 2rem;
}

.login-container form {
  padding: 10%;
}

.btnSubmit {
  width: 100%;

  border-radius: 1rem;
  padding: 1em;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.login-form-1 .btnSubmit {
  background-color: #222528;
  color: #c4fdcd;
  font-size: 1em;
}

.login-form-2 .btnSubmit {
  background-color: #0e0f10;
  color: #c4fdcd;
  font-size: 1em;
}

.login-form-2 .ForgetPwd {
}

.login-form-1 .ForgetPwd {
  color: #c9aa99;
}

.ur {
  color: #03989e;
}

#heading {
  color: white;
}

#finalbtn {
  background: #03989e;
  color: white;
}

#docbtn {
  background: #03989e;
  color: white;
}

#afterSub {
  color: #03989e;
  visibility: hidden;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }
  .login-form-1,
  .login-form-2 {
    width: 100%;
  }

  .login-form-1 h3,
  .login-form-2 h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .login-form-1,
  .login-form-2 {
    width: 420px;
  }
}
